.App {
  text-align: center;
}

main {
  margin: 10px;
  padding: 5px 7px 5px;
}

input {
  text-align: right;
  background-color: #FFFFFF;
  width: 330px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 30px;
}

table {
  display: inline-block;
  padding: 25px;
  background-color: #17202A;
  border-radius: 20px;
}

.displaytable-cell {
  display: table-cell;
}

.button {
  background-color: #17202A;
  color: #CCD1D1;
  width: 60px;
  height: 35px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 5px;
  border-color: #CCD1D1;
  cursor: pointer;
  
}

.numberbutton {
  background-color: #2980B9;
}

.clearbutton {
  background-color: #f76767;
}